.summery-data {
    display: flex;
    flex-direction: column;

    table {
        margin-bottom: 1.5rem;
        background: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 15px;
        overflow: hidden;

    }
    .invalid-data-header, .summery-header {
        background: #6c7ae0;
        color: #ffffff;
        .th {
            padding: 0.75rem;
            white-space: nowrap;
        }
    }
    .summery {
        width: 100%;
        th, td {
            text-align: center;
        }
        .summery-tbody {
            .td-entries_by_country {
                display: grid;
                grid-template-columns: 1fr 1fr;
                div {
                    padding: 0.75rem;
                }
            }
        }
    }
    .invalid-data {
        td, th {
            text-align: center;
            padding: 0.75rem;
        }
        .th-time, .th-dType {
            width: 7rem;
        }
        .th-valid  {
            width: 7.25rem;
        }
        .th-countryC {
            width: 8.125rem;
        }
        .th-countryA, .th-IP {
            width: 9rem;
        }
        .invalid-data-tbody{
            display:flex;
            flex-direction: column;
            height: auto;
            max-height: 50vh;
            overflow: auto;
            td {
                font-size: 0.85rem;
                vertical-align: middle;
            }
            .column1,.column3 {
                width: 7rem;
            }
            .column2 {
                width: 7.25rem;
            }
            .column4 {
                width: 8.125rem;
            }
            .column5 {
                width: 9rem;
                text-align: center;
                white-space: pre-wrap;
            }
            .column6 {
                width: 9rem;
                max-width: 9rem;
                overflow: auto;
            }
            .column7 {
                font-size: 0.75rem;
                text-align: center;
                white-space: pre-wrap;
            }
            tr:nth-child(2n+1){background: #EEEEEE;;}
        }
        tbody::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        tbody::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #808080;
        }
    }
}