$myBlue: #446888;
$myDarkBlue: #00008b;
$myGray: #969292;
$myLightBlue: #1bbbf0;
$mySilver: #c0c0c0;
$myRed: #FF0000;
$ghostwhite: #f8f8ff;
$myOrange: #ffae00;
$floralwhite: #fffaf0;
$paginateColor: #2b2eff;